//@font-face {
//    font-family: 'pf-b';
//    src: url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}


@font-face {
    font-family: "f-b";
    src: url("../fonts/FuturaPT-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "f-d";
    src: url("../fonts/FuturaPT-Demi.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "c-b";
    src: url("../fonts/Circular-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

